body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.Orange-Color{
    color: orange;
}

.flaxible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.Link-button{
    text-decoration: none;
    font-weight: 700;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius:  5px;
    color: white;
}
.Top-Banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Orange-color{
    color: orange;
}
.experience-item{
    width: 40%;
    margin-left:4%;
    margin-right: 5%;
    margin-bottom: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 100px gray;
    padding-left: 20px;

}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Experience_ID_1{
    border: 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding-left: 7px;
    
    /* border-left: 7px solid transparent;
    border-image: linear-gradient(180deg, #c82517 0%, #971000 100%);
    border-image-slice: 1; */
    
}
#Experience_ID{
    border-left: 7px solid;
    border-image: linear-gradient(#964d09, #e28743);
    border-image-slice: 1;
}
footer {
    text-align: center;
}